body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background: #f3f3f3;
	font-size: 14px;
	line-height: 1.3;
}
.container {
	max-width: 1174px;
	min-width: 302px;
	margin: 0 auto;
	padding: 0;
}
.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
	margin: 0;
}
/***************************header************************/
.navbar-default {
    background-color: #76c7c0;
    border: none;
    padding: 0 0 18px;
    margin: 0;
    position: relative;
}
.navbar::after {
	content: "";
	position: absolute;
	left: 0;
	padding: 5px 0; 
	bottom: -2px;
	width: 100%;
	background: url(../img/path-line-upper.png) 0 0 no-repeat;
    background-repeat: repeat-x;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-brand {
    float: left;
    height: 0;
    padding: 0;
    margin-left: -9px;
}
.navbar-brand a {
	color: #fff;
}
.navbar-brand h1 {
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    margin: 9px 0 0 15px;
}
.navbar-brand h1 span {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 0 4px;
}
.navbar-nav > li > a {
    text-transform: uppercase;
    border-radius: 4px;
}
.navbar-nav > li > a h3 {
	margin: 0;
    padding: 0;
    font-size: 13px;
    display: inline;
    border-radius: 4px;
    width: 100%;
}
.navbar-nav > li > a h3:hover,
.navbar-nav > li > a h3:focus {
	background: #e8645a;
}
.navbar-nav > li > a h3 span {
	font-size: 9px;
    padding: 0 2px 0 0;
    color: transparent;
}
.navbar-nav > li > a:hover h3 span,
.navbar-nav > li > a:active h3 span {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #e2534b;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 7px;
    border-radius: 4px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #e2534b;
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
.dropdown-menu>li{
	position: relative;
}
.dropdown-menu>li:first-child::before {
	content: "";
	width: 16px;
	height: 10px;
	padding: 5px;
	background: url(../img/icon-drop-menu.png) 0 0 no-repeat;
	position: absolute;
	top: -14px;
	left: 10px;
}
.dropdown-menu>li>a {
	width: 96%;
    display: inline-block;
    padding: 1px 16px 7px 9px;
    clear: both;
    font-weight: 400;
    border-radius: 4px;
    margin: 2px 4px 3px;
    line-height: 21px;
    color: #fff;
    white-space: nowrap;
    background: #e5655d;
    font-size: 14px;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
    color: #e5c5ab;
    text-decoration: none;
    background-color: inherit;
}
/******************************slider**********************/
.carousel-control.right,
.carousel-control.left {
	background: transparent;
}
.narrow {
    position: absolute;
    width: 52px;
    height: 60px;
    background-color: #e2534b;
    background-image: url(../img/slider-arrow-next-prev.png);
    background-position: 11px 20px;
    background-repeat: no-repeat;
    padding: 14px 30px 14px 15px;
    top: 44%;
    border-radius: 4px;
    opacity: 1;
    display: none;
}
.next {
	-ms-background-position-x: -60px;
	background-position-x: -57px;
	right: 0;
}
.prev {
	left: -2px;
}
.carousel-control {
	opacity: 1;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35.3%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    display: none;
}
.carousel-caption h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 45px;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    background: #e2534b;
    padding: 0 7px 3px 14px;
    border-radius: 4px;
}
.carousel-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    background: #000;
    padding: 8px 41px 13px 37px;
    opacity: 0.5;
    width: 471px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
}

.carousel-indicators {
	left: 50%;
	bottom: -42px;
}
.carousel-indicators .active {
    width: 60px;
    height: 7px;
    background-color: #e2534b;
}
.carousel-indicators li {
	width: 61px;
	height: 7px;
	margin: 0 4px;
    background-color: #b0b8b9;
    border: none;
    border-radius: 0;
}
/*************************article***************************/
.article {
	position: relative;
    padding: 0 0 50px;
}
.article .title {
	width: 100%;
	overflow: hidden;
	background: #ececec;
	border-radius: 4px;
	margin: 50px 0;
    padding: 0 0 21px;
}
.text-block h3 {
    font-size: 29px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    color: #7f8c8c;
    padding: 19px 0 3px;
}
.text-block {
	padding: 0 5px;
}
.text-block p {
    font-size: 12px;
    line-height: 20px;
    color: #777;
    margin: 0;
    padding: 0;
}
.link-block a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    background: #e8645a;
    padding: 13px 45px;
    margin: 26px 0 0 7px;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
	box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
}
.link-block a:hover {
	text-decoration: none;
	color: #fff;
}
.flex-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px;
}
.flex-item {
	width: 90%;
	padding: 100px 0 10px 0;
	margin: 15px 0 30px;
	text-align: center;
	position: relative;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(229,230,230,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(229,230,230,1);
	box-shadow: 0px 4px 0px 0px rgba(229,230,230,1);
}
.flex-item span {
	position: absolute;
	top: 17px;
	left: 40%;
	font-size: 60px;
	color: #76c7c0;
}
.flex-item h3  {
	font-size: 16px;
	line-height: 19px;
	color: #7f8c8c;
	margin: 0;
	padding: 0;
	font-weight: 800;
	text-transform: uppercase;
}

.flex-item p {
    color: #777777;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 27px 5px 55px;
}
.flex-item a {
	position: absolute;
    left: 10%;
    bottom: -22px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    background: #76c7c0;
    padding: 13px 51px;
    margin: 26px 0 0 7px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(98,185,176,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(98,185,176,1);
    box-shadow: 0px 4px 0px 0px rgba(98,185,176,1);
}
.flex-item a:hover {
	text-decoration: none;
    color: #fff;
    line-height: 24px;
    background: #e8645a;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
	box-shadow: 0px 4px 0px 0px rgba(226,83,75,1);
}